
$border-color: wheat;

.wrapper {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
        & > * {
            padding: 10px;
        }
}


.header{
    grid-area: header;
    // background-color: magenta;
}

& .sidebar {
    grid-area: sidebar;
    // background-color: yellow;
    box-sizing: border-box;
}
& .content {
    grid-area: content;
    // background-color: blueviolet;
}


.footer {
    grid-area: footer;
    // background-color: brown;
}

.inner {
    border-radius: 10px;
    height: 100%;
    background-color: #333;
    padding: 10px;
    display: flex;

}
