@use '_modern-normalize.css';

html, body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
	background-color: black;
	color: wheat;
}

body.admin-layout {
    @import 'admin';
}

body.public-layout {
    @import 'public';
}
